*.iml
.gradle
/local.properties
/.idea
/gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
/buildSrc/build/
/projectFilesBackup/.idea/workspace.xml
/.idea/compiler.xml
/.idea/misc.xml
/coverage/
/maven-tests/codegen/build/
/maven-tests/factory/build/
/maven-tests/reflect/build/
/build-logic/build/
