*.iml
.gradle
/local.properties
/.idea
/gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
/buildSrc/build/
/projectFilesBackup/.idea/workspace.xml
/.idea/compiler.xml
/.idea/misc.xml
/gradle/wrapper/gradle-wrapper.properties
/coverage/
